/*ESTILOS MENU NAVEGACION*/
.navbar {
  display: flex; /*se utliza el flex para distribuir el contenido de manerahorizontal*/
  justify-content: space-between; /*espacio entre los elementos a lo largo del eje principal;*/
  align-items: center; /*alinea  al los elementos verticales*/
  background-color: #333; /* color de fondo del div principal
  padding: 10px;/*espacio entre los elementos*/
}
/*etiqueta del logo*/
.logo a {
  color: rgb(38, 23, 240);/* color del texto*/
  text-decoration: none;/*elimina el subrayado de losenlaces*/
  font-size: 24px;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
}
.dropdown {
  position: relative;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: cyan;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.nav-links li a:hover {
  background-color: red;
  border-radius: 4px;
}
